@media(max-width: 1200px){
    .rectangle{
        left: -30%;
    }

    .ellipse{
        left: 0%;
    }

    .minus-hidden{
        display: none;
    }
}

@media(max-width: 1100px){
    .users{
        flex-direction: column;
    }

    .users-head p{
        text-align: center;
        padding-bottom: 3rem;
    }

    .user-info{
        justify-content: space-between;
        gap: 10rem;
    }

    .scissors-container{
        flex-direction: column;
        gap: 4rem;
    }

    .section-scissors{
        max-width: fit-content;
        padding: 7rem 6rem 3rem 6rem;
    }

    .scissors-content{
        column-gap: 7rem;
    }

    .scissors-head{
        text-align: center;
    }

    .price-plans{
        transform: translateX(7rem);
    }

    nav{
        padding: 2rem 5rem;
    }

    .hero-head h2{
        padding: 0rem 2rem;
    }

    .hero-text{
        padding: 0rem 7rem;
    }
}

@media(max-width: 1000px){
    .ellipse{
        width: 100%;
    }

    .ellipse img{
        width: 100%;
    }

    .rectangle img{
        width: 120%;
    }

    .section-hero{
        padding-top: 6rem;
    }

    .hero-head h2{
        line-height: 1.2;
        padding-bottom: 1.5rem;
    }

    .price-plans{
        transform: translate(2.4rem);
    }

    .section-footer{
        padding-bottom: 6rem;
    }

    .footer{
        max-width: 80rem;
    }

    .footer-grid{
        grid-template-columns: repeat(4,1fr);
    }

    .footer-icons{
        grid-row: span 1;
    }

    .mobile-img{
        display: block;
        position: absolute;
        right: 2%;
        z-index: 10293876288378;
    }

    .close{
        display: none;
    }

    .nav-links{
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        height: 200vh;
        z-index: 1293829837;
        padding-left: 1rem;
        padding-top: 57rem;
        background-color: #fff;
        left: 0;
    }

    .translate{
        transform: translateX(0);
    }
    
    .nav-links li a{
        font-size: 2.1rem;
        color: rgba(0, 101, 254, 1);
    }
}

@media(max-width: 930px){
    .price-plans{
        transform: translate(-1.4rem);
    }

    .scissors-box p{
        font-size: 1.5rem;
    }

    .question-head span{
        font-size: 2rem;
    }

    .questions{
        max-width: fit-content;
        padding: 0rem 3rem;
    }

    .section-hero{
        padding: 5rem 4rem;
    }

    .sign{
        padding: 1.4rem 2.6rem;
    }

    .chain-img{
        width: 33rem;
    }

    .chain-img img{
        width: 100%;
    }

    .chain-text p{
        padding: 2rem 7rem;
    }

    .hero-box-content{
        max-width: 60rem;
    }
}

@media(max-width: 840px){
    .hero-text{
        padding-top: 4rem;
    }

    .user-info{
        gap: 5rem;
    }

    html{
        font-size: 67%;
    }

    .hero-head h2{
        font-size: 4.3rem;
    }

    .price-boxes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 3rem;
    }

    .box-1{
        border-right: 1px solid rgba(0, 101, 254, 1);
    }
    
    .box-3{
        padding-right: 4rem;
        max-width: fit-content;
        padding-left: 2rem;
        border-left: 1px solid rgba(0, 101, 254, 1);
        grid-row: 1;
    }

    .box-2{
        padding: 5rem;
        justify-self: center;
        grid-column: span 2;
    }

    .price-plans{
        transform: translateX(2rem);
    }

    .select,.custom{
        padding: 1.7rem 4rem;
        font-size: 1.65rem;
    }

    .footer-grid{
        grid-template-columns: repeat(3,1fr);
        column-gap: 7rem;
    }

    .footer{
        max-width: fit-content;
    }

    .footer-link:nth-child(7),.footer-link:nth-child(8){
        grid-row: span 2;
        justify-self: center;
    }

    .question-head span{
        font-size: 1.9rem;
    }
}

@media(max-width: 740px){
    .section-hero{
        padding: 5rem 2rem;
    }

    .hero-text{
        padding-top: 1.7rem;
    }

    .sign,.learn{
        padding: 1.2rem 4rem;
    }

    .user-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .user p{
        font-size: 1.5rem;
    }

    .user-info{
        align-items: start;
        justify-content: start;
    }

    .user-container{
        max-width: fit-content;
    }

    .section-footer{
        padding-top: 6rem;
        padding-left: 3rem;
    }

    .footer-end{
        padding-right: 1.6rem;
    }

    .price-plans{
        padding-left: 0.7rem;
    }

    nav{
        padding: 2rem 2.2rem;
    }

    .hero-box{
        padding-top: 6rem;
    }

    .hero-box-content{
        max-width: 55rem;
    }

    .hero-head h2{
        font-size: 4rem;
        padding: 0rem;
        padding-bottom: 1rem;
    }
}

@media(max-width: 600px){
    .price-boxes{
        grid-template-columns: 1fr;
    }

    .box-2{
        grid-column:  span 1;
    }

    .box-1{
        justify-self: center;
    }
    
    .box-3{
        grid-row: 3;
        justify-self: center;
    }

    .price-head-text{
        padding: 0rem 2rem;
        font-size: 1.6rem;
    }

    .price-plans{
        transform: translateX(0rem);
    }

    .footer-grid{
        grid-template-columns: 1fr 1fr;
        column-gap: 11rem;
    }

    .section-footer{
        padding-left: 0rem;
    }

    .footer-link ul li a {
        font-size: 1.6rem;
    }

    .footer-link span{
        font-size: 1.7rem;
    }

    .scissors-content{
        column-gap: 4rem;
    }

    .section-scissors{
        padding: 5rem 3rem 3rem 3rem;
    }

    .hero-text{
        padding: 0rem 3rem;
    }

    .hero-box-content{
        max-width: 48rem;
    }

    .chain-img{
        width: 28rem;
    }

    .chain-text p{
        padding: 2rem 3rem;
    }

    .nav-btns{
        display: none;
    }

    .mobile-img{
        right: 7%;
    }

    .mobile-btns{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;
    }

    .mobile-btns .log,.mobile-btns .try{
        padding: 1rem 7rem;
        font-size: 1.9rem;
    }
}

@media(max-width: 500px){
    .hero-head h2{
        font-size: 3.8rem;
    }

    .hero-text {
        font-size: 1.76rem;
        padding-top: 1.2rem;
    }

    .user-info{
        padding-left: 2rem;
        row-gap: 4rem;
        column-gap: 3rem;
    }

    .section-scissors{
        padding: 5rem 2rem 3rem 2rem;
    }

    .price-btns{
        flex-direction: column;
        text-align: center;
        padding: 0rem 3.2rem;
    }

    .input-container{
        max-width: 40rem;
    }

    .question-head span{
        font-size: 1.77rem;
    }

    .revo{
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .footer-grid{
        column-gap: 4rem;
    }

    .sign,.learn{
        padding: 1.2rem 5rem;
    }
}

@media(max-width: 440px){
    .footer-grid{
        column-gap: 0rem;
    }

    .questions{
        padding: 0rem 1.5rem;
    }

    .input-container{
        max-width: 35rem;
        padding: 2.5rem;
    }

    .scissors-content{
        column-gap: 3rem;
        row-gap: 4rem;
        grid-template-columns: 1fr;
    }

    .section-scissors{
        padding: 5rem 1.4rem 3rem 1.4rem;
    }
    
    .scissors-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .scissors-head p{
        padding: 0rem 0.6rem;
    }

    .hero-text{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    nav{
        padding: 1.5rem 2rem;
    }

    .section-hero{
        padding-top: 6.9rem;
    }

    .scissors-content{
        column-gap: 0;
        row-gap: 4.4rem;
    }
}

@media(max-width: 400px){
    .scissors-head p{
        font-size: 1.55rem;
    }
    
    .scissors-box p{
        font-size: 1.55rem;
    }
    
    .footer-grid{
        grid-template-columns: 1fr;
        row-gap: 3.7rem;
    }
    /*
    .footer-link:nth-child(7),.footer-link:nth-child(8){
        justify-self: start;
    }*/

    .footer-link{
        justify-self: center;
        text-align: center;
    }
    
    .footer-link span{
        font-size: 2rem;
    }

    .footer-end{
        padding-right: 1.4rem;
    }
    
    .scissors-content{
        padding: 0rem 1rem;
    }
    
    .footer-icons{
        justify-content: center;
        align-items: center;
    }

    .footer{
        max-width: 40rem;
        /*padding-left: 2.5rem;*/
    }
}

@media(max-width: 390rem){
    html{
        font-size: 62.5%;
    }

    .sign,.learn{
        padding: 1.2rem 3rem;
    }

    .price-head h4{
        padding: 0rem 1rem 2rem 1rem;
    }
}

@media(max-width: 350px){
    html{
        font-size: 44%;
    }
}